._flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black !important;
    height: 100vh;
}

img {
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#jumbo {
    height: 24rem;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
}

